/.quarto/
_freeze/
*credentials
*.DS_Store
posts/user_behaviour_analysis/states.csv
*_targets/
docs/posts/growth_clusters_uk/index_files/

**/*.quarto_ipynb

*_cache/
*.db
*.duckdb

posts/f1_laptimes/
docs/posts/occupation_impact_on_rentals/data_preparation.html
