## Working environment
pip
joblib
black
tqdm

## core
numpy
pandas
scipy
statsmodels
scikit-learn

## data
duckdb

## Visualisation
seaborn
matplotlib
plotnine

## Movies getting longer post
cinemagoer # IMDB
beautifulsoup4

## F1
fastf1
